<form (ngSubmit)="salvar()">
  <div class="form-group">
  <label>Bebidas</label>
<select class="form-control" [(ngModel)] = "pedido.bebidas" name="bebida">
  <option *ngFor="let bebida of bebidas"[ngValue] = "bebida">{{bebida.Bebida}} </option>
</select>
</div>
<div class="form-group">
    <label>Pizzas</label>
    <select class="form-control" [(ngModel)] = "pedido.pizza" name="pizza">
      <option *ngFor="let pizza of pizzas"[ngValue] = "pizza">{{pizza.Pizza}} </option>
    </select>
    </div>
    <button class="btn btn-primary" (click)="adiciona()" type="button" >Adicionar</button>
  </form>

  <div>


      <table class="table table-striped">
          <thead>
            <tr>
              <th>Bebidas</th>
              <th>Pizzas</th>
              <th>Preço</th>
            
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pedido of listaPedidos">
              <td>{{pedido.bebida.Bebida}}</td>
              <td>{{pedido.pizza.Pizza}}</td>
              <td>{{pedido.total}}</td>
            </tr>
          </tbody>
        </table>

        <span> Valor Total = {{valorTotal}}</span>

  </div>
