<form (ngSubmit)="salvar()">
  <div class="form-group">
    <label>Pizza</label>
    <input type="text" class="form-control" name="nome" [(ngModel)]="pizza.Pizza">
  </div>
  <div class="form-group">
    <label>Preço</label>
    <input type="text" class="form-control" name="nome" [(ngModel)]="pizza.Preco">
  </div>
  <div class="form-group">
    <label>Ingredientes</label>
    <input type="text" class="form-control" name="nome" [(ngModel)]="pizza.Ingredintes">
  </div>
  <button class="btn btn-primary">Salvar</button>
</form>